<div style="line-height: 0px;" class="main-div">
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <mat-icon id="btn">menu</mat-icon>
            <mat-icon id="cancel">close</mat-icon>
          </label>


    <span class="name-portfolio">Alam's portfolio</span>


    <ul id="menu">
            <li><a href="#home" (click)="closeMenu()">Home</a></li>
            <li><a href="#about" (click)="closeMenu()">About Me</a></li>
            <li><a href="#skills" (click)="closeMenu()">Skills</a></li>
            <li><a href="#contact" (click)="closeMenu()">Contact Me</a></li>
          </ul>
  </nav>
</div>