<main>
  <section class="mainSectionFirst" id="home">
    <div class="leftSection">
      <img src="/assets/images/Alam.png" alt="developer">
    </div>
    <div class="rightSection">
      Hi, My Name is <span class="purple">Alam</span>
      <div>
        And I'm Passionated
      </div>
      <span id="element"></span>
      <div class="info">
        <p>
          Specialize in harnessing the power of Angular, Angular Material, Angular Flexlayout, Bootstrap and
          Node.js, HTML, CSS, SCSS, and JavaScript to bring web
          applications
          to life.
          I bring 2 of experience in web development to the table, along with a deep understanding of
          user-centered design principles. From ideation to deployment,
          <br><br>
          Ready to take your digital presence to the next level? Let's talk!
        </p>
      </div>
      <span class="resume-btn"> <a
          href="https://drive.google.com/file/d/1sORz3WSCkeJJQa_HThgrfGiuM-0O1Kiv/view?usp=sharing"
          download="Alam_resume.pdf">Download
          Resume</a></span>
    </div>

  </section>
</main>



<!--about -->
<section id="about" routerLink="#about">
  <div class="container">
    <div class="row">
      <div class="about-col-1">
        <img src="/assets/images/blurry.jpg" alt="side-images">
      </div>
      <div class="about-col-2">
        <h1 class="sub-title">About Me</h1>
        <p>Hello there! I'm <b>Nasre Alam,</b> a passionate Web Developer from Bihar, currently calling Delhi my home.

          As I approach the final year of my BCA at INDRA GANDHI NATIONAL OPEN UNIVERSITY, my journey in the world of
          technology has been nothing short of exhilarating.

          My programming journey has been diverse, with languages like Angular, Angular Material, FlexLayout,
          Bootstrap, HTML, JavaScript, CSS, and SCSS under my belt. These tools have become my creative palette,
          allowing me to craft digital solutions that are both functional and visually appealing.

          Angular has become more than just a framework for me; it's a canvas where I bring ideas to life. Navigating
          the intricacies of front-end development and crafting seamless user interfaces has become a second nature.

          If you're looking to collaborate, innovate, or just geek out about all things web development, feel free to
          reach out. Let's create something incredible together!</p>
        <mat-tab-group>
          <mat-tab label="Skills">
            <div class="tab-contents active-tab">
              <ul>

                <li><span>Angular</span><br>Experienced in developing dynamic web applications using the Angular
                  framework. Proficient in creating components, services, and modules to build robust and maintainable
                  front-end solutions.</li>
                <li><span>Angular Material</span><br> I utilize its pre-designed components and themes to create modern
                  and visually appealing designs while maintaining responsiveness and cross-browser compatibility.</li>
                <li><span>HTML</span><br>I utilize the latest HTML5 standards to build responsive and accessible web
                  pages.
                </li>
                <li><span>CSS and SCSS</span><br> Proficient in crafting clean, organized, and scalable styles that
                  enhance the presentation of web pages. I leverage CSS3 features and SCSS nesting to create engaging
                  and visually harmonious designs</li>
                <li><span>JavaScript</span><br>Proficient in JavaScript, the cornerstone of interactive web development.
                  I harness the power of this scripting language to create dynamic and engaging user experiences.</li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Experience">
            <div class="tab-contents">
              <ul>
                <li><span>2022 - 2023</span><br>Designing & creating Web Applications as freelace profession</li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Education">
            <div class="tab-contents">
              <ul>
                <li><span>2023</span><br>Pursuing My BCA final year from Indra Gandhi National Open University</li>
                <li><span>2020</span><br>Completed My 12th from DAV PG Collage Siwan, Bihar</li>
                <li><span>2018</span><br>Completed My 10th from JPH School from Khemmatihaniya, Gopalganj, Bihar</li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>


<!-- ---------services------ -->

<section id="skills">
  <div class="container">
    <h1 class="sub-title">My Skills</h1>
    <div class="services-list">
      <div>
        <i class="fa-sharp fa-solid fa-code fa-fade"></i>
        <h2>Frontend Developer</h2>
        <p>As a frontend developer, I specialize in crafting visually captivating and seamlessly functional user
          experiences. My expertise lies in transforming design concepts into living, breathing websites and web
          applications that resonate with users.</p>
      </div>
      <div>
        <i class="fa-brands fa-angular fa-fade"></i>
        <h2>Angular Developer</h2>
        <p>In the dynamic world of web development, Angular is my playground. As an Angular enthusiast, I specialize in
          building interactive and feature-rich web applications that engage users and elevate digital experiences to
          new heights.</p>
      </div>
      <div>
        <i class="fa-solid fa-mobile fa-fade"></i>
        <h2>Responsive UI</h2>
        <p>In the digital age, user experience knows no boundaries. That's where I come in – crafting designs that adapt
          seamlessly across devices and screen sizes, ensuring that your users have an exceptional experience no matter
          how they engage with your website.</p>
      </div>
    </div>
  </div>
</section>

<!-- ---------contact------ -->

<section id="contact">
  <div class="container">

    <div class="row rowOne">

      <div class="contact-left">
        <h1 class="sub-title">Contact Me</h1>
        <p><i class="fa-regular fa-envelope"></i> nasrealam407@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +91 9006978818</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/_nasrealam_/"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"><i
              class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/nasrealam"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>

      <div class="contact-right">
        <form [formGroup]="form" (ngSubmit)="saveData()">
          <input type="text" name="name" placeholder="Your Name" formControlName="name">
          <input type="email" name="Email" placeholder="Your Email" formControlName="email">
          <textarea name="massage" rows="6" placeholder="Leave Your Massage" formControlName="massage"></textarea>
          <button type="Submit" class="submit-btn">Submit</button>

        </form>
      </div>

    </div>

  </div>
</section>